<!-- Validation failure messages -->
<% if @place.errors.any? %>
  <% @place.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Place #<%= @place.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_place/<%= @place.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @place.name %>">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @place.address %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @place.description %></textarea>
      </div>

      <!-- Label and input for lat -->
      <div class="form-group">
        <label for="lat" class="control-label">
          Lat
        </label>

        <input type="text" id="lat" name="lat" placeholder="Lat" class="form-control" value="<%= @place.lat %>">
      </div>

      <!-- Label and input for lng -->
      <div class="form-group">
        <label for="lng" class="control-label">
          Lng
        </label>

        <input type="text" id="lng" name="lng" placeholder="Lng" class="form-control" value="<%= @place.lng %>">
      </div>

      <!-- Label and input for owner_id -->
      <div class="form-group">
        <label for="owner_id" class="control-label">
          Owner
        </label>

        <input type="text" id="owner_id" name="owner_id" placeholder="Owner" class="form-control" value="<%= @place.owner_id %>">
      </div>

      <!-- Label and input for city -->
      <div class="form-group">
        <label for="city" class="control-label">
          City
        </label>

        <input type="text" id="city" name="city" placeholder="City" class="form-control" value="<%= @place.city %>">
      </div>

      <button class="btn btn-warning">
        Update Place
      </button>
      or
      <a href="/places/<%= @place.id %>">Cancel</a>
    </form>
  </div>
</div>
