<div class="page-header">
  <h1>
    Places
    <a href="/places/new" class="btn btn-lg btn-success">New Place</a>
  </h1>
</div>


<div class="row m-b-2">
  <div class="col-md-12">
    <div>
      <div id="location_map" style="height: 480px;"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Description</th>
        <th>Lat</th>
        <th>Lng</th>
        <th>Owner</th>
        <th>City</th>
        <th>Actions</th>
      </tr>

      <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td><%= place.address %></td>
        <td><%= place.description %></td>
        <td><%= place.lat %></td>
        <td><%= place.lng %></td>
        <td><%= place.owner.email %></td>
        <td><%= place.city %></td>
        <td>
          <a href="/places/<%= place.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == place.owner %>
            <a href="/places/<%= place.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_place/<%= place.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @places, theme: 'twitter-bootstrap-4' %>
  </div>
</div>

<script src="//maps.google.com/maps/api/js?v=3.24&key=AIzaSyCOTPWiuvyyo6sKoIBzKA4-1ol-vTOIOlM"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'location_map'}}, function(){
    markers = handler.addMarkers(<%= raw @location_hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>